# IDE
*.iml
.idea/

# Gradle
.gradle/
local.properties

# OS
.DS_Store

# Android Studio
/captures
.externalNativeBuild
.cxx

# Build outputs
**/build/
*.apk
*.aab

# Signing
*.keystore
*.jks

# KtLint
.ktlint/
sample