*.iml



.idea/
.idea
.kotling
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml


# Gradle
.gradle/
local.properties




# OS
.DS_Store

# Android Studio
/captures
.externalNativeBuild
.cxx




# Build outputs
**/build/
*.apk
*.aab

# Signing
*.keystore
*.jks

# KtLint
.ktlint/


